<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDU-TODO APP</title>
<link rel="stylesheet" href="/UI/Templates/todo.css">
    
</head>
<body>
    <div class="header">
        <h2>EDU-ToDo List</h2>
       <input type="text" id="itemBox" placeholder="Add to list">
        <span onclick="newElement()" class="addBtn">Add</span>
        </div>
      <ul id="list-item">
        <li class="done">Check inbox<span class="close">x</span></li>
        <li>Work out<span class="close">x</span></li>
        <li>Make calls<span class="close">x</span></li>
        <li>Do chores<span class="close">x</span></li>
        <li>Meetups<span class="close">x</span></li>
        </ul>
   <script src="/UI/Templates/todo.js">
        
</body>
</html>